body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
  }
  
  .caixa {
    padding: 16px;
    font-size: 24px;
  }
  
  .conteudo {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .remover {
    background-color: red;
    border-radius: 16px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  
  .remover:hover {
    background-color: rgb(186, 5, 5);
  }
  
  .elemento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
  }